_RCLONE_PROFILE="wasabi"
_RCLONE_PROVIDER="Wasabi"
_S3_KEY_ID="ABCDEF012345679"
_S3_SECRET_KEY="AAAABBBBCCCCDDDDEEEEFFFF"

_S3_REGION="us-central-1"
_S3_ENDPOINT="s3.us-central-1.wasabisys.com"

# Don't edit unless you know 
_S3_ACL="private"
_S3_CHUNK_SIZE="100M"
_S3_DISABLE_CHECKSUM="true"
_S3_UPLOAD_CONCURRENCY=4

# Bucket Configuration

# We recommend to limit each directory/bucket under 10TiB.
_UPDATE_RATE=2 # Use a new bucket every 2 days. 
_UPDATE_TARGET="folder" # "bucket" is yet to be supported
_DATE_BASE="2021-05-01"
_FOLDER_PREFIX="ChiaOnS3"
_BUCKET_PREFIX="ChiaOnS3"

# Local Folder
_PLOT_FOLDER="/data/plots"
_LOG_FOLDER="/home/rclone/latest.log"