_S3_KEY_ID="ABCDEF012345679"
_S3_SECRET_KEY="AAAABBBBCCCCDDDDEEEEFFFF"

_S3_REGION="us-central-1"
_S3_ENDPOINT="s3.us-central-1.wasabisys.com"

# Don't edit unless you know 
_S3_ACL="private"
_S3_CHUNK_SIZE="100M"
_S3_DISABLE_CHECKSUM="true"
_S3_UPLOAD_CONCURRENCY=4

# Bucket Configuration
_BUCKET_PREFIX="ChiaOnS3-" # Auto-created buckets will be named as "ChiaOnS3-$enum"
# We recommend to limit each bucket under 10TiB.
_BUCKET_RATE=2 # Use a new bucket every 2 day. 
_DATE_BASE=""
_FOLDER_NAME="ChiaOnS3"


# Local Folder
_PLOT_FOLDER="/f"